
__pycache__/

project 1/\.DS_Store

project 1/assets/\.DS_Store

\.DS_Store

\.idea/

Project1/\.vscode/

*.bin

\.vscode/

*.zip

Project2/VanGame/\.ipynb_checkpoints/feedforward\.py-checkpoint\.ipynb
