
__pycache__/

project 1/\.DS_Store

project 1/assets/\.DS_Store

\.DS_Store

\.idea/

Project1/\.vscode/

*.bin

\.vscode/

*.zip

Project2/rec/

Project2/MOSS/

Project2/logtry

Project2/hardcode_rec/

Project2/RANDOM/
